body {
  font-family: 'PT Serif', serif;
  background-color: #7EB23E;
  color: #0D1930;
  font-weight: bold;
}

.banner {
  margin: 50px auto;
  line-height: 150%;
  font-size: 50px;
}

.weather-box {
  max-width: 20%;
  margin: 0 auto;
}

.location, .weather-info {
  font-size: 25px;
}

#weather-img {
  width: 150px;
  display: block;
  height: 150px;
  margin: 0 auto;
}
